@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Black.eot');
    src: url('RobotoCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Black.woff2') format('woff2'),
        url('RobotoCondensed-Black.woff') format('woff'),
        url('RobotoCondensed-Black.svg#RobotoCondensed-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

