.logo img{
  vertical-align: middle;
  color: #274C5B;
  width: 198.79px;
  height: 53.72px;
  padding: 69px 162px 69px 162px;
}

.navigation{
  display: inline-block;
  
}

.nav{
  display: inline-block;
  padding-right: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #274C5B;
}

.header{
  width: 100%;
  height: 191.72px;
  background-color: #FFFFFFE5;
}

.main{
  width: 100%;
  height: 1311.28px;
  background-color:#F9F8F8;
}

.leftdiv{
 width: 671px;
}

.topdiv1{
  width: 671px;
  height: 258px;
}

.bottomdiv1{
  width: 486px;
  height: 330px;
}

.question {
  color: #7EB693;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 6px;
  font-family: "Yellowtail", cursive;
  font-style: normal;
}

.market{
  color: #274C5B;
  font-weight: 800;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 25px;
  font-family: 'Roboto Condensed';
}

.span1{
  color: #525C60;
  font-weight: 400;
  font-size: 18px;
  line-height: 165%;
  letter-spacing: 0%;
  font-family: 'Arial GEO';
}

.block{
  width: 486px;
  height: 153px;
  padding-top: 36px;
  
}

.button{
  background-color: #ECECEC;
  width: 339px;
  height: 81px;
  padding: 29px 91px 29px 27px;
  
}

.text{
  width: 504px;
  height: 60px;
  padding-left: 60px;
  padding-top: 30px;
  
}

.rightdiv{
  width: 678px;

}

.image{
  width: 600px;
  height: 690px;
  padding-top: 13.5px;
}

.divwrapper{
  max-width: 1400px;
  margin:0 auto;
  display: flex;
  align-items: center;
  gap: 60px;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerdiv{
  display: inline-block;
  align-items: center;
  width: 257px;
  height: 335px;
  background-color: #FFFFFF;
  margin-right: 30px;
}

.Policy{
  color: #274C5B;
  font-weight: 800;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 29px 83px 20px 22px;
}

.Ge{
  font-family: "ALK Life", sans-serif;
}

.span2{
  margin: 20px 37px 142px 36px ;
}
